<ul>
    {{#each albums}}
        <li>
            <p><img src={{images.1.url}} alt=""></p>
            <p>{{name}}</p>
            <p><a href="/tracks/{{id}}">View Tracks</a></p>
        </li>
    {{/each}}
</ul>